@import url('./main.css');

body {
    display: flex;
}

:root {
    --profile-height: 30rem;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1.5rem;
}

.about-profile {
    width: 25rem;
    height: var(--profile-height);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    background: #fff;
    border-radius: 15px;

    padding: 1rem 2rem 1.5rem 2rem;
    flex-shrink: 0;
}

.prof-img {
    width: 130px;
    height: 130px;
}

.prof-img img {
    max-width: 100%;

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    border-radius: 10px
}

.profile-desc {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.profile-desc .profile-name {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem 0;
}

.profile-desc .profile-name h1 {
    font-size: 1.1rem;
}
.profile-desc .profile-name p {
    font-size: 0.9rem;
}

.profile-desc .profile-info {
    padding: 1.1rem 2.1rem;
    border-top: 1px solid #9d9d9d;
    border-bottom: 1px solid #9d9d9d;
}

.profile-desc .profile-info p {
    white-space: pre-line;
    text-justify: justify;
    text-align: start;
    font-size: 15px;
}

.bordered-info {
    width: 100%;
    border-bottom: 1px solid #9d9d9d;
    display: flex;
    justify-content: space-between;

    padding: 0.3rem 0;
    padding-right: 9rem;
}

.bordered-info h3 {
    font-size: 1rem;
    font-weight: 500;
}

.bordered-info span {
    font-weight: 400;
}

.about {
    width: 100%;
    height: var(--profile-height);
    background: #fff;

    border-radius: 15px;

    display: flex;
    flex-direction: column;

    padding: 1.5rem 3rem;
    gap: 1.5rem;
}

.about .about-me button {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;

    padding: 0.6rem 1.6rem;
    background: #6d85db;
    color: white;

    border-radius: 50px;
}

.about .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-overflow: ellipsis;
    gap: 10px;
}

.about .info div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.about .info div h3 {
    font-size: 1rem;
}

.about .info div p {
    font-size: 0.9rem;
    font-weight: 500;
    color: #9d9d9d;
}

.about .desc {
    width: 100%;
    height: 100%;

    padding: 1.5rem 0;

    border-top: 1px solid #9d9d9d;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.about .desc p {
    width: 100%;
    height: 100%;

    white-space: pre-line;
    text-align: justify;
    text-justify: inter-word;

    font-size: 1rem;
    line-height: 1.6;
    overflow-x: auto;
    text-overflow: ellipsis;
}