@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
}

:root {
    --primary-color: #e6f1ff;
    --secondary-color: #101010;
    --sidebar-open-width: 18rem;
    --navbar-height: 4rem;
    --sidebar-close-width: 5rem;
    --percentage-height: 3px;
}

body {
    min-height: 100vh;
    background: var(--primary-color);
    color: var(--secondary-color);
}

body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    color: blue;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    outline: none;
    background: none;
    border: none;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    width: 100%;
}

@media screen and (max-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media screen and (max-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media screen and (max-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}